<!-- Modal -->

<button class="btn btn-primary btn-sm" type="button" data-toggle="modal" data-target="#exampleModal" onclick="newProduct()">
    Agregar
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        Producto
                        <input type="text" class="form-control form-control-user" id="txtCategoria"
                            placeholder="Categoria">
                    </div>

                    <div class="form-group">
                        Precio
                        <input type="number" class="form-control form-control-user" id="txtPrecio" placeholder="##.##">
                    </div>

                    <div class="form-group">
                        Cantidad
                        <input type="number" class="form-control form-control-user" id="txtCantidad"
                            placeholder="##.##">
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="close()">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="agregarProducto()">Salvar</button>
            </div>
        </div>
    </div>
</div>

<script type="application/javascript">

    // let productos = []
    // when this changes have to bind again the datatable.

    function agregarProducto() { 
        console.log('Guardar productos');

        let producto = document.querySelector("#txtCategoria").value;
        let precio = document.querySelector("#txtPrecio").value;
        let cantidad = document.querySelector("#txtCantidad").value;
        let total  = precio * cantidad;
                
        $('#dataTable')
        .DataTable()
        .row
        .add([producto, precio, cantidad, total])
        .draw( );

        // console.log($('#dataTable').data('dataSet'))
        // console.log()


        // let jsonend = {
        //     "producto": producto,
        //     "precio": precio,
        //     "cantidad": cantidad
        // }

        // productos.push(jsonend)

        // console.log('nuevo producto agregado')
    }
</script>