{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-12">

      Reporte Top Clientes

      <div class="filter-bar">
        <nav class="navbar m-b-30 p-10">
          <ul class="nav">
            <li class="nav-item f-text active">
              <a class="nav-link text-secondary" href="#!">Filtros: <span class="sr-only">(actual)</span></a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-secondary" href="#" id="bydate" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false"><i class="far fa-clock"></i> Top</a>
              <div class="dropdown-menu" aria-labelledby="bydate">
                <a class="dropdown-item" href="#!"> Mostrar todo</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#!">10</a>
                <a class="dropdown-item" href="#!">50</a>
                <a class="dropdown-item" href="#!">100</a>
                <a class="dropdown-item" href="#!">1000</a>
              </div>
            </li>
          </ul>
        </nav>
      </div>

    </div>
  </div>
</div>
{% endblock %}