{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      
      <!-- DataTales Example -->
      <div class="card shadow">
        <div class="card-header py-3">
          <div class="row">

            <div class="col-md-10 col-sm-8">
              <h6 class="mb-1 font-weight-bold text-primary">Categorias</h6>
              <div id="panelNuevaCategoria">

              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            </table>
          </div>
        </div>
      </div>


      <script type="application/javascript">
        // Call the dataTables jQuery plugin
        $(document).ready(function () {
          $('#dataTable').DataTable(
            {
              // bFilter: false,
              data: [],
              columns: [
                { title: "Nombre" },
                { title: "Descripcion" },
                { title: "Action", "defaultContent": "<i class='fa fa-trash-alt btn btn-danger btn-circle' aria-hidden='true' onclick='eliminarFila(this)' >  </i> " }
              ]
            }
          );
        });


        window.onload = (event) => {
          $.ajax({
            url: "/catalogo_productos/newCategoria",
            method: "GET",
            dataType: "html"
          }).done(function (newProductTemplate) {
            $("#panelNuevaCategoria").append(newProductTemplate);
          });
        };

        function saveCategoria() {
          let nombre = document.querySelector("#txtNombreCategoria").value;
          let descripcion = document.querySelector("#txtDescripcionCategoria").value;

          let jsonend = {
            "nombre": nombre,
            "descripcion": descripcion
          }


          // type: 'post'
          // dataType: 'json'
          // contentType: 'application/json'

          $.ajax({
            url: "/api/saveCategoria",
            method: "POST",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify(jsonend)
          }).done(function () {
            $(this).addClass("done");
          });
        }
      </script>

    </div>
  </div>
</div>

{% endblock %}