{% extends "base.html" %}

{% block content %}
<!-- Topbar -->
<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
        class="fas fa-download fa-sm text-white-50"></i> Generar Reporte</a>
  </div>

  <!-- Content Row -  Indicadores -->
  <div class="row" id="metris">

  </div>
  <div class="row" id="metricsgraphs">

  </div>

</div>
<script type="application/javascript">

window.addEventListener('load', function () {
    $.ajax({
      url: "/c/metris",
      method: "GET",
      dataType: "html"
    }).done(function (newProductTemplate) {
      $("#metris").append(newProductTemplate);
    });

    $.ajax({
      url: "/c/rs_ventas_graph",
      method: "GET",
      dataType: "html"
    }).done(function (newProductTemplate) {
      $("#metricsgraphs").append(newProductTemplate);
    });

    $.ajax({
      url: "/c/rs_facturas_graph",
      method: "GET",
      dataType: "html"
    }).done(function (newProductTemplate) {
      $("#metricsgraphs").append(newProductTemplate);
    });

    $.ajax({
      url: "/c/rs_ventas_x_cobrar",
      method: "GET",
      dataType: "html"
    }).done(function (newProductTemplate) {
      $("#metricsgraphs").append(newProductTemplate);
    });

    $.ajax({
      url: "/c/rs_clientes_mes",
      method: "GET",
      dataType: "html"
    }).done(function (newProductTemplate) {
      $("#metricsgraphs").append(newProductTemplate);
    });

  });
</script>
{% endblock %}